html * {
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth !important;
}

.stylish {
    font-family: "Lobster", cursive;
}
/* Star Rating purpose */

.flex {
    display: flex;
}
.cursor-pointer {
    cursor: pointer;
}

.card-title {
    background: rgb(68, 0, 68);
    color: white;
    /* font-weight: bold; */
}

.review {
    border-color: navy;
    border-style: solid;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    box-shadow: 0px 0px 10px 6px #474d5d;
}

.review:hover {
    box-shadow: 0px 0px 10px 6px #e62e00;
}
